@charset "UTF-8";

body{
  width: 60%;
  margin: auto;
  box-shadow:3px 3px 7px 3px#f1ede9;
  
}

header > section#arealogo{
  display: flex;
  align-items: center;
  justify-content: center;
}

div#divarealogo{
  display: flex;
  align-items: center;
}

input{
  margin-left: auto;
  margin-right:auto;
  width: 50%;
  height: 2%;
}

div#divarealogo > p#plogo{
  color: rgb(3, 3, 63);
  font-weight: bolder;
  font-size: xx-large;
  margin-right: 20px;
  padding: 0px;
}

p#logincabecalho > a{
  text-decoration: none;
  color: rgba(2, 63, 132, 0.858);
  font-weight: 400;
  font-size: medium;
  margin-left: 20px;
  padding: 0px;
}

p#logincabecalho > a:hover{
 color: chocolate;
}

nav{
  height: 25px;
  align-items: end;
  background-color: rgb(2 63 132 / 54%);
  text-align: end;
  align-content: center;
  border-radius: 5px;
  box-shadow: 1px 1px 2px  rgba(2, 34, 72, 0.386);
}
nav > a{
  text-decoration: none;
  color: rgb(246, 247, 252);
  padding: 3px;
  margin: 2px;
}

nav>a:hover{
  color: #f1cba2;
  background-color: rgba(2, 63, 132, 0.578);
  border-radius: 5px;
}
main{
  margin-top:15px;
  margin-bottom: 15px;
}
img#imglogo{
  width: 100px;
  height: 100px;
  
}

p#logincabecalho{
  margin-right: 30px;
}
