@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

/*
cor1 - #F25E6B
cor2 - #063966
cor3 - #098ACC
cor4 - #FDF8E5;
cor5 - #F27F1B

fonte paragrafos - Rubik / Nunito e Outfit
fonte handwrit - Playwrite Netherland
*/

:root{
  --corprincipal:#063966;
  --corsecundária:#098ACC;
  --brancologo:#fdf8e5;
  --cordestaque:#F25E6B;
  --cordestaque2: #F27F1B;
}
*{
  padding: 0;
  margin: 0;
 
}


main{
  max-width: 80%;
  margin: auto;
 }


@media (min-width: 850px){
  
  header{
    background-image: linear-gradient(to bottom, var(--corsecundária), var(--corprincipal) );
    display: flex;
    justify-content: space-between;  /* Center horizontally */
    align-items: center;
    min-height: 0px;
    position: relative;
    min-height:100px ;
    box-shadow: 1px 1px 5px 2px #8389906a;
  }
  
  header> div#divlogo >h2{
    font-family:'Quicksand', 'arial';
    color: aliceblue;
    margin: 5px;
  }

  header> div#divlogo{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header> div#divlogo >img#imglogo{
    width: 50px;
    height: 48px;
    margin:5px;
    margin-left: 20px;
    border-radius: 10px;
  }
 
  header input {
    min-width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid transparent; /* Makes the border transparent */
    outline: none; /* Removes the default focus outline */
    margin-left: 10px;
}

header input:focus {
    background-color: #f1f2f2;
    box-shadow: 1px 1px 10px 5px  var(--cordestaque2); /* Corrected syntax for box-shadow */
}


  header> div#divnav{
    display: flex;
    justify-content: flex-end;
    margin: 5px;
    margin-right: 20px;
  }

  header nav a{
    font-family:'Baloo 2', 'arial';
    color: aliceblue;
    margin: 2px;
    text-decoration: none;
  }

  header nav a:hover{
    font-family:'Baloo 2', 'arial';
    color: aliceblue;
    margin: 2px;
    font-weight: bolder;
    font-size: 1.2em;
    text-decoration: underline;
  }

  header h1 a{
    font-family:'Quicksand', 'arial';
    color: aliceblue;
    margin: 2px;
    text-decoration: none;
  }

  header nav a#alogin{
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    font-size: 1.3em;
  }

  header nav a#alogin:hover{
    margin: 2px;
    font-weight: bolder;
    font-size: 1.5em;
  }

  div#areabanner{
  display: flex;
  flex-direction: row;
  height: 320px;
  box-shadow: 1px 1px 5px 1px #b3d5f35a;
  border-radius: 7px;
  justify-items: last baseline;
  
  }
 
}

@media (min-width:500px) and (max-width:850px){
  header{
    background-image: linear-gradient(to bottom, var(--corsecundária), var(--corprincipal) );
    position: relative;
    min-height:70px ;
    box-shadow: 1px 1px 5px 2px #8389906a;
  }
  
  header> div#divlogo >h2{
    font-family:'Quicksand', 'arial';
    color: aliceblue;
    margin: 5px;
  }

  header> div#divlogo{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header> div#divlogo >img#imglogo{
    width: 50px;
    height: 48px;
    margin:5px;
    margin-left: 10px;
    border-radius: 10px;
  }
 
  header h1 a{
    font-family:'Quicksand', 'arial';
    color: aliceblue;
    margin: 2px;
    text-decoration: none;
  }

  header input {
    min-width: 250px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid transparent; /* Makes the border transparent */
    outline: none; /* Removes the default focus outline */
    margin-left: 10px;
  }

  header input:focus {
    background-color: #f1f2f2;
    box-shadow: 1px 1px 10px 5px  var(--cordestaque2); /* Corrected syntax for box-shadow */
}

  header> div#divnav{
    display: flex;
    justify-content: center;
    margin: 5px;
    margin-right: 10px;
  }

  header nav a{
    font-family:'Baloo 2', 'arial';
    color: aliceblue;
    margin: 2px;
    font-size: 0.9em;
    text-decoration: none;
  }

  header nav a:hover{
    font-family:'Baloo 2', 'arial';
    color: aliceblue;
    margin: 2px;
    font-weight: bolder;
    font-size: 1em;
    text-decoration: underline;
  }

  header nav a#alogin{
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    font-size: 1.3em;
  }

  header nav a#alogin:hover{
    margin: 2px;
    font-weight: bolder;
    font-size: 1.5em;
  }
}


@media (max-width: 500px){
  
  header{
    background-image: linear-gradient(to bottom, var(--corsecundária), var(--corprincipal) );
    position: relative;
    min-height:70px ;
    box-shadow: 1px 1px 5px 2px #8389906a;
  }
  
  header> div#divlogo >h2{
    font-family:'Quicksand', 'arial';
    color: aliceblue;
    margin: 5px;
  }

  header> div#divlogo{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header> div#divlogo >img#imglogo{
    width: 50px;
    height: 48px;
    margin-top:5px;
    margin-left: 2px;
    border-radius: 10px;
  }
 
  header h1 a{
    font-family:'Quicksand', 'arial';
    color: aliceblue;
    margin: 2px;
    text-decoration: none;
  }
  header input {
    min-width: 100px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid transparent; /* Makes the border transparent */
    outline: none; /* Removes the default focus outline */
    margin-left: 5px;
}

header input:focus {
    background-color: #f1f2f2;
    box-shadow: 1px 1px 10px 5px  var(--cordestaque2); /* Corrected syntax for box-shadow */
}

  header> div#divnav{
    display: flex;
    justify-content: center;
    margin: 5px;
    margin-right: 10px;
  }
  header nav a{
    font-family:'Baloo 2', 'arial';
    color: aliceblue;
    margin: 1px;
    font-size: 0.7em;
    text-decoration: none;
  }

  header nav a:hover{
    font-family:'Baloo 2', 'arial';
    color: aliceblue;
    margin: 2px;
    font-weight: bolder;
    font-size: 0.8em;
    text-decoration: underline;
  }
  header nav a#alogin{
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    font-size: 0.8em;
  }

  header nav a#alogin:hover{
    margin: 2px;
    font-weight: bolder;
    font-size: 0.9em;
  }
}
