@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/*
cor1 - #F25E6B
cor2 - #063966
cor3 - #098ACC
cor4 - #FDF8E5;
cor5 - #F27F1B

fonte paragrafos - Rubik / Nunito e Outfit
fonte handwrit - Playwrite Netherland
*/

:root{
  --corprincipal:#063966;
  --corsecundária:#098ACC;
  --brancologo:#fdf8e5;
  --cordestaque:#F25E6B;
}
*{
  padding: 0;
  margin: 0;
}
main{
  max-width: 1000px;
  min-width: 300px;
  margin: auto;
  background-color: #ffffff;
}

header{
  background-image: linear-gradient(to bottom, var(--corsecundária), var(--corprincipal) );
  display: flex;
  justify-content: space-between;  /* Center horizontally */
  align-items: center;
  min-height: 0px;
  position: relative;
  min-height:70px ;
  box-shadow: 1px 1px 5px 2px #8389906a;
}

header> div#divlogo >h2{
  font-family:'Quicksand', 'arial';
  color: aliceblue;

}
header> div#divlogo  {
  display: flex;
  justify-content: center;
  align-items: center;
}
header> div#divlogo >img#imglogo{
  width: 50px;
  height: 48px;
  margin:5px;
  border-radius: 10px;
}
header> div#divnav input{
  width: 200px;  
  height: 25px;  
  font-size: 14px; 
  padding: 5px; 
  border: 1px solid #ccc;  
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;

  }

header> div#divnav{
  display: flex;
  justify-content: flex-end;
}

header> div#divnav input{
    background-color: #f8f8e0;
  }
header div h2 a {
    text-decoration: none;
    color: white;
}
nav{
display: flex;
justify-content: flex-end;
color: #ffffff;
font-family: 'Nunito';
font-size: 13px;
}

nav>a{
  text-decoration: aliceblue;
  padding: 2px;
  color: azure;
}

nav>a:hover{
  background-color:var(--brancologo);
  color: var(--corprincipal);
  border-radius: 3px;
}

div>nav>a:hover{
  font-weight: bold;
  background-color: var(--corprincipal);
  color: white;
  text-decoration: underline;
  font-size: 1.2em;
}



div#conteudo{
  background-color: rgb(226, 43, 134);
 }
picture{
  display: flex;
  justify-content: center;
  align-content: center;
background-color: #098ACC;
}
footer{
  background-color: #F25E6B;
}

